<ng-template #notLoaded>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngIf="!loading; else notLoaded">
  <app-entry-detail-header [entry]="note" [previousVersion]="!!version"></app-entry-detail-header>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card card-body">
        <app-markdown-view [markdown]="note.markdownText"></app-markdown-view>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header" style="font-weight: 500">Metadata:</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5>Tags:</h5>
                  <span *ngFor="let tag of note.tags" class="badge badge-dark p-2 mr-1">{{tag.name}}</span>

                  <h5>Collections:</h5>
                  <span *ngFor="let collection of note.collections" class="badge badge-dark p-2 mr-1">{{collection.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <p>
                    <app-time-ago prefix="Last updated: " [date]="note.dateUpdated"></app-time-ago>
                  </p>
                  <p>Version: {{note.version}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-entry-tabs *ngIf="!loading" [entry]="note"></app-entry-tabs>
