<ng-template #notLoaded>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngIf="!loading; else notLoaded">
  <app-entry-detail-header [entry]="note" [previousVersion]="!!version"></app-entry-detail-header>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card card-body">
        <app-markdown-view [markdown]="note.markdownText"></app-markdown-view>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <app-entry-detail-metadata [entry]="note"></app-entry-detail-metadata>
    </div>
  </div>
</div>

<app-entry-tabs *ngIf="!loading" [entry]="note"></app-entry-tabs>
