<lks-loader [loading]="loadingAttachment">
  <div class="row" *ngIf="!loadingAttachment">
    <div class="col-md-12">
      <div class="pb-2">
        <h2>{{ attachment?.name }}</h2>
        <lks-file-size class="text-gray-light me-2" [bytes]="attachment?.size"></lks-file-size>
        <span class="me-2 fw-bold">|</span>
        <span class="text-gray-light me-2">Created <lks-time-ago [date]="attachment?.dateCreated"></lks-time-ago></span>
        <span *ngIf="attachment?.dateUpdated != attachment?.dateCreated" class="me-2 fw-bold">|</span>
        <span *ngIf="attachment?.dateUpdated != attachment?.dateCreated" class="text-gray-light">
                Updated <lks-time-ago [date]="attachment?.dateUpdated"></lks-time-ago>
            </span>
        <span class="btn-group float-end">
                <button routerLink="../.." class="btn btn-secondary me-1">
                    <i class="fa-solid fa-arrow-left" aria-hidden="true"></i> Back</button>
                <button (click)="onDownloadClick(attachment)" class="btn btn-primary me-1">
                    <i class="fa-solid fa-download" aria-hidden="true"></i> Download</button>
            </span>
      </div>
      <hr>

      <lks-loading-spinner *ngIf="loadingAttachmentData"></lks-loading-spinner>

      <div [ngSwitch]="attachmentCategory" *ngIf="attachment && !loadingAttachment">
        <div *ngSwitchCase="'text'">
          <pre><code [class]="attachmentLanguageClass">{{ rawText }}</code></pre>
        </div>
        <div *ngSwitchCase="'page'">
          <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false" activeId="preview">
            <ng-container ngbNavItem="preview">
              <a ngbNavLink><i class="fa-solid fa-eye"></i> Preview</a>
              <ng-template ngbNavContent>
                <div [innerHTML]="this.rawText" class="attachment-page"></div>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem="source">
              <a ngbNavLink><i class="fa-solid fa-code"></i> Source</a>
              <ng-template ngbNavContent>
                <pre><code [class]="attachmentLanguageClass">{{ rawText }}</code></pre>
              </ng-template>
            </ng-container>
          </nav>
          <div [ngbNavOutlet]="nav" class="mt-3 mb-4"></div>
        </div>
        <div *ngSwitchCase="'image'">
          <img [src]="attachmentUrl" alt="Attachment Image" class="img-fluid">
        </div>
        <div *ngSwitchCase="'audio'">
          <audio style="width: 100%" preload="none" controls>
            <source [src]="attachmentUrl" [type]="attachmentMimeType">
            Your browser does not support HTML5 audio.
          </audio>
        </div>
        <div *ngSwitchCase="'video'">
          <video controls preload="none" width="100%">
            <source [src]="attachmentUrl">
            Your browser does not support HTML5 video.
          </video>
        </div>
        <div *ngSwitchCase="'pdf'">
          <iframe [src]="attachmentUrl" width="100%" height="720"></iframe>
        </div>
        <div *ngSwitchCase="'subtitle'">
          <div *ngFor="let line of parseObj(rawText)">
            {{ line.begin.slice(0, -4) }} - {{ line.end.slice(0, -4) }}  {{line.text}}
          </div>
        </div>
        <div *ngSwitchDefault>
          <span>Preview is not available for this file type</span>
        </div>
      </div>
    </div>
  </div>
</lks-loader>
