<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Upload Attachment</h5>
        <hr>
        <form (ngSubmit)="onSubmit(attachmentForm)" #attachmentForm="ngForm">
            <div class="form-group">
                <input type="file" (change)="handleFileInput($event)"
                       class="form-control-file"
                       id="attachmentFileUploadInput"
                       name="attachmentFileUploadInput"
                       [(ngModel)]="fileToUploadName"
                       required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!attachmentForm.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i> Upload
            </button>
            <span *ngIf="saving" class="spinner-border spinner-border-sm ml-2" role="status"></span>
        </form>
    </div>
</div>
