<div class="row">
  <div class="col-md-12">
    <div class="d-flex align-items-center pb-2">
      <h2>Notifications</h2>
      <div class="ms-auto">
        <div ngbDropdown class="d-inline-block me-2">
          <button ngbDropdownToggle id="sortByToggle" type="button" class="btn dropdown-toggle" data-toggle="dropdown">Sort By <span
            class="caret"></span></button>
          <div ngbDropdownMenu aria-labelledby="sortByToggle">
            <button *ngFor="let config of SORT_CONFIGS" ngbDropdownItem (click)="applySort(config)">
              {{config.name}}
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="loadNotifications()">
          <i class="fa-solid fa-refresh"></i> Refresh
        </button>
      </div>
    </div>
    <hr>

    <lks-loader [loadingStatus]="loadingStatus" entity="notifications">
      <div *ngIf="loadingStatus == 'loaded' && notificationPage?.content?.length == 0">
        <div class="text-center">
          <i class="fa-solid fa-search fa-2x"></i>
          <h5 class="text-center">No notifications found</h5>
        </div>
      </div>
      <div class="mb-2" *ngIf="loadingStatus == 'loaded' && notificationPage?.content?.length > 0">
        <div class="mb-3" *ngFor="let notification of notificationPage.content">
          <div class="card mb-2">
            <div class="card-body" [ngClass]="notification.read ? 'card-read' : 'card-unread'" (click)="markRead(notification)">
              <div class="d-flex align-content-center">
                <div class="flex-shrink-0 align-self-center">
                  <i class="fa-solid fa-gears fa-lg" *ngIf="notification.type == 'processed'"></i>
                  <i class="fa-solid fa-circle-exclamation fa-lg" *ngIf="notification.type == 'error'"></i>
                  <i class="fa-solid fa-stopwatch fa-lg" *ngIf="notification.type == 'reminder'"></i>
                  <i class="fa-solid fa-comment-dots fa-lg" *ngIf="notification.type == 'discussions'"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex">
                    <div class="flex-grow-1">
                      <span class="card-text fw-bold" *ngIf="notification.type == 'processed'">Processing Complete - </span>
                      <span class="card-text fw-bold" *ngIf="notification.type == 'error'">Error Occurred - </span>
                      <span class="card-text fw-bold" *ngIf="notification.type == 'reminder'">Reminder Elapsed - </span>
                      <span class="card-text fw-bold" *ngIf="notification.type == 'discussions'">Discussion Found - </span>
                      <span class="card-text">{{notification.message}}</span>
                      <div class="d-flex mt-1">
                        <a class="align-self-center card-subtitle text-muted title me-2"
                           [routerLink]="[resolveEntryHref(notification.entryType), notification.entryId]">
                          {{notification.entryTitle}}
                        </a>
                      </div>
                    </div>
                    <div class="align-self-center ms-auto">
                      <span>({{notification.id}}) </span>
                      <lks-time-ago [date]="notification.dateCreated"></lks-time-ago>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ngb-pagination class="d-flex justify-content-center"
                        (pageChange)="onPageChange($event)"
                        [collectionSize]="notificationPage.total"
                        [pageSize]="notificationPage.size"
                        [page]="notificationPage.page"
                        [boundaryLinks]="true"
                        [maxSize]="8"
                        [rotate]="true">
        </ngb-pagination>
      </div>
    </lks-loader>

  </div>
</div>


