<nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false" [activeId]="activeTab">
  <ng-container ngbNavItem="comments">
    <a ngbNavLink routerLink="." fragment="comments"><i class="fa-solid fa-comments"></i> Comments <span
      class="badge bg-primary">{{ commentCount }}</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-12">
          <lks-comment-list [entryId]="entry?.id" (onLoaded)="commentCount = $event"></lks-comment-list>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem="tasks">
    <a ngbNavLink routerLink="." fragment="tasks"><i class="fa-solid fa-rocket"></i> Tasks <span class="badge bg-primary">{{ taskCount }}</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-12">
          <lks-entry-tab-task-list [entry]="entry"></lks-entry-tab-task-list>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem="discussions" *ngIf="entry.props.attributes.discussions">
    <a ngbNavLink routerLink="." fragment="discussions"><i class="fa-solid fa-comment-dots"></i> Discussions <span
      class="badge bg-primary">{{ discussionCount }}</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-12">
          <lks-entry-tab-discussion-list [discussions]="entry.props.attributes.discussions"></lks-entry-tab-discussion-list>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem="reminders">
    <a ngbNavLink routerLink="." fragment="reminders"><i class="fa-solid fa-bell"></i> Reminders <span
      class="badge bg-primary">{{ reminderCount }}</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-12">
          <lks-reminder-list [entry]="entry" (onLoaded)="reminderCount = $event"></lks-reminder-list>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem="history">
    <a ngbNavLink routerLink="." fragment="history"><i class="fa-solid fa-history"></i> History <span
      class="badge bg-primary">{{ historyCount }}</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-12">
          <lks-entry-tab-history [entry]="entry" (onLoaded)="historyCount = $event"></lks-entry-tab-history>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem="audit">
    <a ngbNavLink routerLink="." fragment="audit"><i class="fa-solid fa-archive"></i> Audit <span class="badge bg-primary">{{ auditCount }}</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-12">
          <lks-entry-tab-audit [entry]="entry" (onLoaded)="auditCount = $event"></lks-entry-tab-audit>
        </div>
      </div>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-3 mb-4"></div>
