<lks-loader [loadingStatus]="loadingStatus" entity="file">
  <ng-container *ngIf="file">
    <lks-entry-detail-header [entry]="file" [previousVersion]="!!version"></lks-entry-detail-header>

    <div class="row">
      <div class="col-md-12 mb-4">
        <lks-entry-detail-metadata [entry]="file"></lks-entry-detail-metadata>
      </div>
    </div>

    <div class="row" *ngIf="mainAttachmentId">
      <div class="col-md-12 mb-4">
        <lks-card [isCollapsed]="true" [lazy]="true" headerStyles="bg-primary text-white">
          <span header><i class="ms-3 fa-solid fa-circle fa-sm"></i> Preview</span>
          <ng-template>
            <lks-attachment-view [entryId]="file.id" [attachmentId]="mainAttachmentId" [fullViewer]="false"></lks-attachment-view>
          </ng-template>
        </lks-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-4">
        <lks-card [isCollapsed]="true">
          <span header> Attachments:</span>
          <ng-template>
            <lks-attachment-list [entryId]="file?.id" (onLoaded)="onAttachmentsLoaded($event)"></lks-attachment-list>
          </ng-template>
        </lks-card>
      </div>
    </div>

    <lks-entry-tabs [entry]="file"></lks-entry-tabs>
  </ng-container>
</lks-loader>

