<div *ngIf="link.content" class="mb-4">
  <lks-card [isCollapsed]="true" headerStyles="bg-primary text-white">
  <span header>
    <i class="ms-3 fas fa-circle fa-sm"></i> Read
  </span>
    <content>
      <lks-markdown-view [markdown]="link.content"></lks-markdown-view>
    </content>
  </lks-card>
</div>

<div *ngIf="link.props?.attributes?.embedUrl" class="mb-4">
  <lks-card [isCollapsed]="true" headerStyles="bg-secondary text-white">
  <span header>
    <i class="ms-3 fas fa-circle fa-sm"></i> Watch
  </span>
    <content>
      <div class="mt-3">
        <div class="embed-iframe ratio ratio-16x9">
          <iframe class="embed-responsive-item" [src]="link.props.attributes.embedUrl | safeUrl"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </content>
  </lks-card>
</div>

<div *ngIf="link.props?.attributes?.summary" class="mb-4">
  <lks-card [isCollapsed]="true" headerStyles="bg-info text-white">
  <span header>
    <i class="ms-3 fas fa-circle fa-sm"></i> Summary
  </span>
    <content>
      <h4 class="mb-3">{{ link.props.attributes.summary.title }}</h4>
      <lks-markdown-view [markdown]="link.props.attributes.summary.content"></lks-markdown-view>
      <h5>Keywords</h5>
      <ol>
        <li *ngFor="let keyword of link.props.attributes.summary.keywords">{{keyword}}</li>
      </ol>
      <span>Content reduced by {{ link.props.attributes.summary.reduced }}</span>
    </content>
  </lks-card>
</div>
