<div *ngIf="readableContentAvailable" class="mb-4">
  <lks-card [isCollapsed]="true" [lazy]="true" (onCollapseChange)="loadReadableAttachment($event)" headerStyles="bg-primary text-white">
    <span header>
      <i class="ms-3 fa-solid fa-circle fa-sm"></i> Read
    </span>
    <ng-template>
      <div [innerHTML]="readableContent" class="attachment-page" *ngIf="!readableContentLoading"></div>
      <div class="text-center" *ngIf="readableContentLoading">
        <div class="spinner-border center-loading" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
  </lks-card>
</div>

<div *ngIf="link.props?.attributes?.embedUrl" class="mb-4">
  <lks-card [isCollapsed]="true" [lazy]="true" headerStyles="bg-secondary text-white">
  <span header>
    <i class="ms-3 fa-solid fa-circle fa-sm"></i> Watch
  </span>
    <ng-template>
      <div class="mt-3">
        <div class="embed-iframe ratio ratio-16x9">
          <iframe class="embed-responsive-item" [src]="link.props.attributes.embedUrl | safeUrl"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </ng-template>
  </lks-card>
</div>

<div *ngIf="link.props?.attributes?.summary" class="mb-4">
  <lks-card [isCollapsed]="true" [lazy]="true" headerStyles="bg-info text-white">
  <span header>
    <i class="ms-3 fa-solid fa-circle fa-sm"></i> Summary
  </span>
    <ng-template>
      <h4 class="mb-3">{{ link.props.attributes.summary.title }}</h4>
      <lks-markdown-view [markdown]="link.props.attributes.summary.content"></lks-markdown-view>
      <h5>Keywords</h5>
      <ol>
        <li *ngFor="let keyword of link.props.attributes.summary.keywords">{{keyword}}</li>
      </ol>
      <span>Content reduced by {{ link.props.attributes.summary.reduced }}</span>
    </ng-template>
  </lks-card>
</div>
