<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Delete {{ type | titlecase }}</h4>
  <button type="button" class="btn-close" aria-label="Close" aria-describedby="modal-title" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete this {{ type }}?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close(data)">Delete</button>
</div>
