<div class="row py-1">
  <div class="col-md-12">
    <div class="d-flex align-content-center">
      <div class="flex-shrink-0" *ngIf="link.thumbnailId">
        <img class="thumbnail-img" src="/api/entry/{{link.id}}/resource/{{link.thumbnailId}}" alt="Thumbnail">
      </div>
      <div class="flex-shrink-0" *ngIf="!link.thumbnailId">
        <img class="thumbnail-img" src="/assets/img/link_thumbnail.jpg" alt="Thumbnail">
      </div>
      <div class="flex-grow-1 ms-3">
        <div class="d-flex">
          <div class="flex-grow-1">
            <i class="fa-solid fa-link align-self-center me-1" ngbTooltip="Link"></i>
            <a class="title me-2" [routerLink]="['/entries/links', link.id]"> {{link.title}}</a>
            <span class="align-self-center">{{link.source}}</span>
            <div class="d-flex mt-1" *ngIf="link.tags.length > 0 || link.collections.length > 0">
              <lks-group-view [groups]="link.tags" type="tags" [minimal]="true" class="me-3"></lks-group-view>
              <lks-group-view [groups]="link.collections" type="collections" [minimal]="true"></lks-group-view>
            </div>
          </div>
          <div>
            <span class="align-self-center ms-auto"><span>({{link.id}})</span> updated <lks-time-ago [date]="link.dateUpdated"></lks-time-ago></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
