<div class="d-flex mb-3 justify-content-between align-items-center flex-wrap">
  <div class="mb-2 mb-md-1">
    <h2 class="title-wrap-word">{{entry['title'] ?? ""}}</h2>
    <div>
      <span class="me-3">Version: {{ entry.version }}</span>
      <span>Last Updated: <lks-time-ago [date]="entry.dateUpdated"></lks-time-ago></span>
    </div>
  </div>
  <div class="btn-group">
    <a routerLink="/entries" class="btn  btn-outline-secondary me-2"><i class="fa-solid fa-arrow-left" aria-hidden="true"></i> Back</a>
    <button *ngIf="!previousVersion" (click)="onStarClick()" class="btn btn-sm btn-outline-primary me-2">
      <i class="fa-solid fa-star" aria-hidden="true"></i> {{ entry.starred ? "Unstar" : "Star"}}
    </button>
    <a *ngIf="!previousVersion" [routerLink]="['edit']" class="btn  btn-outline-primary me-2">
      <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i> Edit
    </a>
    <button *ngIf="!previousVersion" (click)="openDeleteModal()" class="btn  btn-outline-danger">
      <i class="fa-solid fa-trash-alt" aria-hidden="true"></i> Delete
    </button>
  </div>
</div>
<div *ngIf="previousVersion" class="alert alert-warning" role="alert">
  You are viewing a previous version. <a [routerLink]="goToLatestVersion()">Go to latest.</a>
</div>
