<form (ngSubmit)="onSubmit()" #commentForm="ngForm">
    <div class="form-group">
        <markdown-editor slim="true" [(ngModel)]="newComment.plainText" name="commentText" id="commentText" required></markdown-editor>
    </div>

    <button type="submit" class="btn btn-success mr-2 px-4 float-right" [disabled]="!commentForm.form.valid">
        <i class="fa fa-save" aria-hidden="true"></i>
        &nbsp;{{updateMode ? "Update" : "Post"}} Comment
    </button>
    <button type="button" (click)="onCancel()" class="btn btn-outline-secondary mr-2 float-right">Cancel</button>
</form>
