<div class="card">
  <div class="card-header cursor-pointer {{headerStyles}}" style="font-weight: 500" (click)="isCollapsed = !isCollapsed; emitCollapseChange();">
    <a data-toggle="collapse" aria-expanded="true" aria-controls="linkReaderContent">
      <i *ngIf="isCollapsed" class="fa-solid fa-chevron-down"></i>
      <i *ngIf="!isCollapsed" class="fa-solid fa-chevron-up"></i>
      <ng-content select="[header]"></ng-content>
    </a>
  </div>
  <div class="card-body" [ngbCollapse]="isCollapsed">
    <div *ngIf="preserveElements || !isCollapsed">
      <ng-content select="content"></ng-content>
    </div>
  </div>
</div>
