<div class="card">
  <div class="card-header cursor-pointer {{headerStyles}}" style="font-weight: 500"
       (click)="isCollapsed = !isCollapsed; isInit = true; emitCollapseChange();">
    <a data-toggle="collapse" aria-expanded="true" aria-controls="linkReaderContent">
      <i *ngIf="isCollapsed" class="fa-solid fa-chevron-down"></i>
      <i *ngIf="!isCollapsed" class="fa-solid fa-chevron-up"></i>
      <ng-content select="[header]"></ng-content>
    </a>
  </div>
  <div class="card-body" [ngbCollapse]="isCollapsed">
    <div *ngIf="!isCollapsed || isInit">
      <ng-container *ngTemplateOutlet="detailRef"></ng-container>
    </div>
  </div>
</div>
