<div class="row">
    <div class="col-md-12">
        <div class="mb-3">
            <h2>{{ attachment?.name }}</h2>
            <app-file-size class="text-gray-light mr-2" [bytes]="attachment?.size"></app-file-size>
            <span class="mr-2">|</span>
            <span class="text-gray-light">Created <app-time-ago [date]="attachment?.dateCreated"></app-time-ago></span>
            <span class="btn-group float-right">
                <button (click)="onDownloadClick(attachment)" class="btn btn-primary mr-1" ngbTooltip="Download">
                    <i class="fa fa-download" aria-hidden="true"></i> Download</button>
            </span>
        </div>
        <hr>

        <div class="text-center" *ngIf="loadingAttachment">
            <div class="spinner-border center-loading" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div [ngSwitch]="attachmentCategory" *ngIf="attachment && !loadingAttachment">
          <div *ngSwitchCase="'text'">
              <pre>{{ rawText }}</pre>
          </div>
          <div *ngSwitchCase="'image'">
            <img [src]="attachmentUrl" alt="Attachment Image" class="img-fluid">
          </div>
          <div *ngSwitchCase="'audio'">
            <audio style="width: 100%" preload="none" controls>
              <source [src]="attachmentUrl" [type]="attachmentMimeType">
                Your browser does not support HTML5 audio.
            </audio>
          </div>
          <div *ngSwitchCase="'video'">
            <video controls preload="none" width="100%">
              <source [src]="attachmentUrl">
                Your browser does not support HTML5 video.
            </video>
          </div>
          <div *ngSwitchCase="'pdf'">
              <iframe [src]="attachmentUrl" width="100%" height="720"></iframe>
          </div>
          <div *ngSwitchDefault>
            <span>File type is not supported</span>
          </div>
        </div>
    </div>
</div>
