<div class="row">
    <div class="col-md-12">
        <h2 class="mb-3">{{updateMode ? "Update Note" : "Create Note"}}</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="noteTitle">Title</label>
                <input [(ngModel)]="note.title" name="title" type="text" class="form-control form-control-lg title-input" id="noteTitle" placeholder="Enter title" required>
            </div>
            <div class="form-group">
                <label for="plainText">Content</label>
                <markdown-editor [(ngModel)]="note.plainText" name="plainText" id="plainText"></markdown-editor>
            </div>

            <div class="form-group">
                <label for="tagPicker">Tags</label>
                <tag-input id="tagPicker" name="tagPicker" [(ngModel)]='selectedTags'
                           [onlyFromAutocomplete]="true"
                           [identifyBy]="'id'"
                           [displayBy]="'name'"
                           theme="dark"
                           onTextChangeDebounce="100"
                           secondaryPlaceholder="Enter tags..">
                    <tag-input-dropdown [autocompleteItems]="allTags" [identifyBy]="'id'" [displayBy]="'name'">
                    </tag-input-dropdown>
                </tag-input>
            </div>

            <div class="form-group">
                <label for="collectionPicker">Collections</label>
                <tag-input id="collectionPicker" name="collectionPicker" [(ngModel)]='selectedCollections'
                           [onlyFromAutocomplete]="true"
                           [identifyBy]="'id'"
                           [displayBy]="'name'"
                           theme="dark"
                           onTextChangeDebounce="100"
                           secondaryPlaceholder="Enter collections..">
                    <tag-input-dropdown [autocompleteItems]="allCollections" [identifyBy]="'id'" [displayBy]="'name'">
                    </tag-input-dropdown>
                </tag-input>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary mr-2">{{updateMode ? "Save" : "Create"}}</button>
                <button type="button" (click)="onCancel()" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </div>
</div>
