<div *ngIf="link.content" class="card mb-4">
  <div class="card-header cursor-pointer bg-primary text-white" style="font-weight: 500" (click)="isContentCollapsed = !isContentCollapsed">
    <a data-toggle="collapse" aria-expanded="true" aria-controls="linkReaderContent">
      <i *ngIf="isContentCollapsed" class="fa fa-chevron-down"></i>
      <i *ngIf="!isContentCollapsed" class="fa fa-chevron-up"></i>
      <i class="ml-3 fa fa-circle small"></i> Read
    </a>
  </div>
  <div id="linkReaderContent" class="card-body" [ngbCollapse]="isContentCollapsed">
    <app-markdown-view [markdown]="link.content"></app-markdown-view>
  </div>
</div>

<div *ngIf="link.props?.attributes?.embedUrl" class="card mb-4">
  <div class="card-header cursor-pointer bg-secondary text-white" style="font-weight: 500" (click)="isEmbedFrameCollapsed = !isEmbedFrameCollapsed">
    <a data-toggle="collapse" aria-expanded="true" aria-controls="linkEmbedFrame">
      <i *ngIf="isEmbedFrameCollapsed" class="fa fa-chevron-down"></i>
      <i *ngIf="!isEmbedFrameCollapsed" class="fa fa-chevron-up"></i>
      <i class="ml-3 fa fa-circle small"></i> Watch
    </a>
  </div>
  <div id="linkEmbedFrame" class="card-body" [ngbCollapse]="isEmbedFrameCollapsed">
    <div class="mt-3">
      <div class="embed-iframe embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" [src]="link.props.attributes.embedUrl | safeUrl"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div *ngIf="link.props?.attributes?.summary" class="card mb-4">
  <div class="card-header cursor-pointer bg-info text-white" style="font-weight: 500" (click)="isSummaryCollapsed = !isSummaryCollapsed">
    <a data-toggle="collapse" aria-expanded="true" aria-controls="linkSummaryContent">
      <i *ngIf="isSummaryCollapsed" class="fa fa-chevron-down"></i>
      <i *ngIf="!isSummaryCollapsed" class="fa fa-chevron-up"></i>
      <i class="ml-3 fa fa-circle small"></i> Summary
    </a>
  </div>
  <div id="linkSummaryContent" class="card-body" [ngbCollapse]="isSummaryCollapsed">
    <h4 class="mb-3">{{ link.props.attributes.summary.title }}</h4>
    <app-markdown-view [markdown]="link.props.attributes.summary.content"></app-markdown-view>
    <h5>Keywords</h5>
    <ol>
      <li *ngFor="let keyword of link.props.attributes.summary.keywords">{{keyword}}</li>
    </ol>
    <span>Content reduced by {{ link.props.attributes.summary.reduced }}</span>
  </div>
</div>
