.link-url {
  a {
    vertical-align: middle;
  }

  font-size: 1.25em;
  color: #007bff;
  cursor: pointer;
}

.link-url a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.link-url i {
  font-size: 0.8em;
}

.thumbnail-img {
  max-width: 10rem;
}

