<lks-loader [loading]="loading">
  <ng-container *ngIf="link">
    <lks-entry-detail-header [entry]="link" [previousVersion]="!!version"></lks-entry-detail-header>

    <div *ngIf="isLinkDead() && !version" class="alert alert-warning" role="alert"><b>This link is marked as dead</b>. Run the process task to refresh
      the status.
    </div>

    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card card-body">
          <div class="d-flex align-items-stretch">
            <div class="flex-shrink-0 me-3" *ngIf="link.thumbnailId">
              <img class="thumbnail-img" src="/api/entry/{{link.id}}/resource/{{link.thumbnailId}}" alt="Thumbnail">
            </div>
            <span class="link-url flex-grow-1 align-self-center">
              <a (click)="launchLink()" target="_blank">{{link.url}} <i class="fa-solid fa-external-link-alt"></i></a>
            </span>
            <button (click)="copyToClipboard()" class="btn btn-secondary ms-3" ngbTooltip="Copy to Clipboard">
              <i class="fa-solid fa-copy" aria-hidden="true">
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <lks-link-content-view [link]="link" [attachments]="attachments"></lks-link-content-view>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-4">
        <lks-entry-detail-metadata [entry]="link"></lks-entry-detail-metadata>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-4">
        <lks-card [isCollapsed]="false">
          <span header> Attachments:</span>
          <content>
            <lks-attachment-list [entryId]="link?.id" (onLoaded)="attachments = $event"></lks-attachment-list>
          </content>
        </lks-card>
      </div>
    </div>

    <lks-entry-tabs [entry]="link"></lks-entry-tabs>
  </ng-container>
</lks-loader>

