<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Lynks Web</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarsExampleDefault"
    [ngClass]="{ show: navbarOpen }"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/links" routerLinkActive="active">Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notes" routerLinkActive="active">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tags" routerLinkActive="active">Tags</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a
          class="nav-link dropdown-toggle cursor-pointer"
          id="createDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
        >Create</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="createDropdown">
          <a class="dropdown-item" routerLink="/links/create" ngbDropdownItem>New Link</a>
          <a class="dropdown-item" routerLink="/notes/create" ngbDropdownItem>New Note</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i> Search
      </button>
    </form>
  </div>
</nav>
