<div class="card">
  <div class="card-header">Details</div>
  <div class="card-body entry-metadata">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-4 mb-md-0 group-card">
        <div>
          <div *ngIf="entry.type == EntryType.LINK">
            <p><i [ngClass]="isLinkRead() ? 'fas fa-eye' : 'fas fa-eye-slash'"></i><b> Read: </b>{{ isLinkRead() ? "Yes" : "No" }}
            </p>
            <hr>
          </div>
          <app-group-view [groups]="entry.tags" type="tags"></app-group-view>
          <hr>
          <app-group-view [groups]="entry.collections" type="collections"></app-group-view>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div>
          <p><b>Created: </b>
            <app-time-ago [date]="entry.dateCreated"></app-time-ago>
          </p>
          <hr>
          <p><b>Last Updated: </b>
            <app-time-ago [date]="entry.dateUpdated"></app-time-ago>
          </p>
          <hr>
          <p><b>Version: </b>{{entry.version}}</p>
          <div *ngIf="entry.type == EntryType.LINK">
            <hr>
            <p><b>Source: </b>{{getLinkSource()}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
