<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(attachmentForm)" #attachmentForm="ngForm">
      <div class="mb-3">
        <input type="file" (change)="handleFileInput($event)"
               class="form-control"
               id="attachmentFileUploadInput"
               name="attachmentFileUploadInput"
               [(ngModel)]="fileToUploadName"
               required>
      </div>
      <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-success" [disabled]="!attachmentForm.form.valid || uploadProgress > 0">
          <span *ngIf="uploadProgress > 0" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <i *ngIf="uploadProgress == 0" class="fa-solid fa-upload" aria-hidden="true"></i> {{ uploadProgress > 0 ? "Uploading.." : "Upload" }}
        </button>
        <div class="ms-2 flex-grow-1" *ngIf="uploadProgress > 0">
          <ngb-progressbar [striped]="true" [value]="uploadProgress"></ngb-progressbar>
        </div>
      </div>
    </form>
  </div>
</div>
