<a [routerLink]="undefined" class="nav-link cursor-pointer" (click)="expanded = !expanded" [ngClass]="{collapsed: !expanded}">
  <div class="lks-nav-link-icon">
    <i class="fa-solid fa-tags"></i>
  </div>
  Tags
  <div class="lks-sidenav-collapse-arrow">
    <i class="ms-auto fa-solid fa-angle-down"></i>
  </div>
</a>

<nav class="lks-sidenav-menu-nested nav" *ngIf="expanded">
  <a class="nav-link cursor-pointer" *ngFor="let tag of tags" routerLink="/entries" [queryParams]="{tags: tag.id}">
    {{ tag.name }}
  </a>
</nav>
