<div class="card">
  <h5 class="card-header"><i class="fa-solid fa-key fa-xs"></i> Change Password</h5>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
      <div class="mb-3">
        <label for="oldPasswordInput" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="oldPasswordInput" name="oldPasswordInput" placeholder="Enter old password"
               formControlName="oldPassword" [ngClass]="oldPassword.touched && oldPassword.invalid ? 'is-invalid' : ''">
        <div class="invalid-feedback">
          Enter your current password
        </div>
      </div>
      <div class="mb-3">
        <label for="newPasswordInput" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPasswordInput" name="newPasswordInput" placeholder="Enter new password"
               formControlName="newPassword" [ngClass]="newPassword.touched && newPassword.invalid ? 'is-invalid' : ''">
        <div class="invalid-feedback">
          Enter a new password
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmNewPasswordInput" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmNewPasswordInput" name="confirmNewPasswordInput" placeholder="Confirm new password"
               formControlName="confirmNewPassword"
               [ngClass]="confirmNewPassword.touched && (confirmNewPassword.invalid || passwordForm.errors?.['invalidConfirm']) ? 'is-invalid' : ''">
        <div class="invalid-feedback" *ngIf="confirmNewPassword.errors?.['required']">
          Confirm your new password
        </div>
        <div class="invalid-feedback" *ngIf="passwordForm.errors?.['invalidConfirm']">
          New password confirmation does not match
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="saving">
        <span *ngIf="saving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <i *ngIf="!saving" class="fa-solid fa-save" aria-hidden="true"></i> Submit
      </button>
    </form>
  </div>
</div>
