<div *ngIf="loaded; else notLoaded">
    <h3>{{note.title}}</h3>
    <hr>

    {{note.markdownText}}

    <hr>
    <p>Last updated {{note.dateUpdated}}</p>
    <p>Version {{note.version}}</p>

    <h4 *ngIf="note.props.tasks.length > 0">Tasks</h4>
    <ul>
        <li *ngFor="let task of note.props.tasks">{{task.description}}</li>
    </ul>

    <h4 *ngIf="note.tags.length > 0">Tags</h4>
    <ul>
        <li *ngFor="let tag of note.tags">{{tag.name}}</li>
    </ul>

    <h4 *ngIf="note.collections.length > 0">Collections</h4>
    <ul>
        <li *ngFor="let collection of note.collections">{{collection.name}}</li>
    </ul>
</div>
<ng-template #notLoaded>
    <h5>Loading ...</h5>
</ng-template>
