html,
body {
    height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Overrides for GitHub markdown

.markdown-body strong {
  font-weight: bolder;
}

// Helpers

.cursor-pointer {
  cursor: pointer;
}

.title-wrap-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// fix z-index of editor in fullscreen mode
.EasyMDEContainer {
  .editor-toolbar {
    &.fullscreen {
      z-index: 1500;
    }
  }

  .CodeMirror {
    &.CodeMirror-fullscreen {
      z-index: 1500;
    }
  }

  .editor-preview-side {
    z-index: 1500;
  }
}

// restrict dynamic html elements
.attachment-page {
  img {
    display: block;
    max-width: 80%;
    height: auto;
  }
}

.schedule-help-tooltip li {
  text-align: left;
}


// dark theme on multi-select component
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #212529 !important;
  color: #f9f9f9 !important;
  border-radius: 3px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right: 1px solid lighten(#212529, 46) !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: lighten(#212529, 65) !important;
}

// entry list hover background colour
.list-hover:hover {
  background-color: #f6f5f5 !important;
}

.list-hover:hover .markdown-body {
  background-color: #f6f5f5 !important;
}
