html,
body {
    height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Overrides for GitHub markdown

.markdown-body strong {
  font-weight: bolder;
}

// Helpers

.cursor-pointer {
  cursor: pointer;
}

.title-wrap-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.EasyMDEContainer {
  .editor-toolbar {
    &.fullscreen {
      z-index: 1500;
    }
  }

  .CodeMirror {
    &.CodeMirror-fullscreen {
      z-index: 1500;
    }
  }

  .editor-preview-side {
    z-index: 1500;
  }
}
