<th>
  <label class="form-label" for="tagNameInput"></label>
  <input *ngIf="editMode" (click)="$event.stopPropagation()" class="d-inline form-control" type="text" id="tagNameInput" name="tagNameInput"
         [(ngModel)]="tagNameInput">
  <span *ngIf="!editMode">{{ tag.name }}</span>
</th>
<td>
  <lks-time-ago [date]="tag.dateCreated"></lks-time-ago>
</td>
<td>
  <lks-time-ago [date]="tag.dateUpdated"></lks-time-ago>
</td>
<td>
    <span *ngIf="!editMode" class="btn-group-sm">
        <button (click)="onEditClick($event)" class="btn btn-info me-1" ngbTooltip="Edit"><i class="fa-solid fa-pen-to-square" aria-hidden="true">

        </i></button>
        <button (click)="openDeleteModal($event, tag)" class="btn btn-danger" ngbTooltip="Delete">
          <i class="fa-solid fa-trash-alt" aria-hidden="true">
          </i>
        </button>
    </span>
  <span *ngIf="editMode" class="btn-group-sm">
        <button (click)="onSaveClick($event)" [disabled]="tagNameInput.length <= 0" class="btn btn-primary me-1">
          <i class="fa-solid fa-save" aria-hidden="true"></i> Save</button>
        <button (click)="onEditCancelClick($event)" class="btn btn-secondary">Cancel</button>
    </span>
</td>
