<a class="nav-link" [routerLink]="sideNavItem.link" (click)="expanded = !expanded" [ngClass]="{active: isActive, collapsed: !expanded}">
    <div class="lks-nav-link-icon" *ngIf="sideNavItem.icon">
        <i class="fas fa-{{sideNavItem.icon}}"></i>
    </div>
    {{sideNavItem.text}}
    <div class="lks-sidenav-collapse-arrow">
        <i *ngIf="sideNavItem.submenu" class="ml-auto fas fa-angle-down"></i>
    </div>
</a>

<nav class="lks-sidenav-menu-nested nav" *ngIf="sideNavItem.submenu && expanded">
    <lks-side-nav-item class="submenu" *ngFor="let submenuItem of sideNavItem.submenu" [sideNavItem]="submenuItem"></lks-side-nav-item>
</nav>
