<div class="d-flex justify-content-between mb-3">
  <div>
    <h2>{{ entryTypePath | titlecase }}s</h2>
  </div>
  <div>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-success px-4" id="createButtonDropdown" ngbDropdownToggle>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Create
      </button>
      <div ngbDropdownMenu aria-labelledby="createButtonDropdown">
        <button ngbDropdownItem routerLink="/links/create">Link</button>
        <button ngbDropdownItem routerLink="/notes/create">Note</button>
      </div>
    </div>
  </div>
</div>
<hr>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading">
  <div *ngFor="let entry of entries">
    <app-note-list-item *ngIf="entry.type=='NOTE'" [note]="$any(entry)"></app-note-list-item>
    <app-link-list-item *ngIf="entry.type=='LINK'" [link]="$any(entry)"></app-link-list-item>
    <hr>
  </div>
</div>
