<div class="mb-3" [(ngbCollapse)]="entryFilterCollapsed">
  <lks-entry-filter-edit></lks-entry-filter-edit>
</div>

<div class="d-flex justify-content-between mb-3">
  <div>
    <h2>{{ entryTypeDesc }}</h2>
  </div>
  <div>
    <div ngbDropdown class="d-inline-block me-2">
      <button ngbDropdownToggle id="sortByToggle" type="button" class="btn dropdown-toggle" data-toggle="dropdown">Sort By
        <span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="sortByToggle">
        <button *ngFor="let config of entryFilterService.SORT_CONFIGS" ngbDropdownItem (click)="applySort(config)">
          {{config.name}}
        </button>
      </div>
    </div>
    <button class="btn btn-dark px-4 me-2" (click)="entryFilterCollapsed = !entryFilterCollapsed">
      <i class="fa-solid fa-filter" aria-hidden="true"></i>
      Filter
    </button>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-success px-4" id="createButtonDropdown" ngbDropdownToggle>
        <i class="fa-solid fa-plus-circle" aria-hidden="true"></i>
        Create
      </button>
      <div ngbDropdownMenu aria-labelledby="createButtonDropdown">
        <button ngbDropdownItem [routerLink]="createItem.path" *ngFor="let createItem of routeProvider.createEntryItems">
          New {{createItem.name}}
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<lks-loader [loadingStatus]="loadingStatus" entity="entries">
  <div *ngIf="loadingStatus == 'loaded' && entryPage?.content?.length == 0">
    <div class="text-center">
      <i class="fa-solid fa-search fa-2x"></i>
      <h5 class="text-center">No entries found</h5>
    </div>
  </div>
  <div *ngIf="loadingStatus == 'loaded' && entryPage?.content?.length > 0">
    <div class="entry-list-item list-hover" *ngFor="let entry of entryPage.content">
      <ng-container [ngSwitch]="entry.type">
        <lks-note-list-item *ngSwitchCase="EntryType.NOTE" [note]="$any(entry)"></lks-note-list-item>
        <lks-link-list-item *ngSwitchCase="EntryType.LINK" [link]="$any(entry)"></lks-link-list-item>
        <lks-snippet-list-item *ngSwitchCase="EntryType.SNIPPET" [snippet]="$any(entry)"></lks-snippet-list-item>
      </ng-container>
      <hr>
    </div>
    <ngb-pagination class="d-flex justify-content-center"
                    (pageChange)="onPageChange($event)"
                    [collectionSize]="entryPage.total"
                    [pageSize]="entryPage.size"
                    [page]="entryPage.page"
                    [boundaryLinks]="true"
                    [maxSize]="8"
                    [rotate]="true">
    </ngb-pagination>
  </div>
</lks-loader>

