<nav class="lks-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand text-center" routerLink="/">
    <img src="/favicon.ico" alt="Icon" class="d-inline-block align-text-top">
    Lynks
  </a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/entries">Entries</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/entries/links">Links</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/entries/notes">Notes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/groups">Groups</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown>
        <a
          class="nav-link dropdown-toggle cursor-pointer"
          id="createDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
        >Create</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="createDropdown">
          <a class="dropdown-item" routerLink="/links/create" ngbDropdownItem>New Link</a>
          <a class="dropdown-item" routerLink="/notes/create" ngbDropdownItem>New Note</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
        (ngSubmit)="onSearchSubmit()" #navbarSearchForm="ngForm">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="Search for..." name="searchTerms"
             aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchTerms"/>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- Navbar User -->
  <ul class="navbar-nav ms-auto ms-md-0 me-2">
    <lks-top-nav-user></lks-top-nav-user>
  </ul>
</nav>
