<ng-template #noDiscussions>
  <div class="text-center">
    <i class="fa-solid fa-search fa-2x"></i>
    <h5 class="text-center">No discussions found</h5>
  </div>
</ng-template>

<div *ngIf="discussions?.length > 0; else noDiscussions">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col" style="width: 5%"></th>
      <th scope="col" style="width: 30%">Source</th>
      <th scope="col" style="width: 15%">Score</th>
      <th scope="col" style="width: 15%">Comments</th>
      <th scope="col" style="width: 15%">Created</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let discussion of discussions">
      <td class="text-center">
        <i *ngIf="discussion.source=='reddit'" ngbTooltip="Reddit" class="fa-brands fa-reddit fa-2x"></i>
        <i *ngIf="discussion.source=='hacker_news'" ngbTooltip="Hacker News" class="fa-brands fa-hacker-news fa-2x"></i>
      </td>
      <th><a target="_blank" [href]="createLinkUrl(discussion)">{{discussion.title}}</a></th>
      <td>{{discussion.score}}</td>
      <td>{{discussion.comments}}</td>
      <td>
        <lks-time-ago [date]="discussion.created"></lks-time-ago>
      </td>
    </tr>
    </tbody>
  </table>
</div>
