<lks-loader [loadingStatus]="loadingStatus" entity="snippet">
  <div class="row" *ngIf="loadingStatus != 'loading'">
    <div class="col-md-12 card card-body">
      <h2 class="mb-3">{{updateMode ? "Update Snippet" : "New Snippet"}}</h2>

      <div *ngIf="snippet.plainText.length > 150" class="alert alert-warning" role="alert">
        This snippet is getting quite long, consider creating a <a [routerLink]="routeProvider.createEntryByType[EntryType.NOTE].path">New Note</a>
        instead
      </div>

      <form #snippetForm="ngForm">
        <div class="mb-3">
          <label class="form-label" for="plainText">Content</label>
          <lks-markdown-editor [(ngModel)]="snippet.plainText" name="plainText" id="plainText"></lks-markdown-editor>
        </div>

        <div class="mb-3">
          <label class="form-label" for="tagPicker">Tags</label>
          <lks-group-editor id="tagPicker" type="tag" [selected]="selectedTags" (selectedChange)="selectedTags = $event"></lks-group-editor>
        </div>

        <div class="mb-3">
          <label class="form-label" for="collectionPicker">Collections</label>
          <lks-group-editor id="collectionPicker" type="collection" [selected]="selectedCollections"
                            (selectedChange)="selectedCollections = $event"></lks-group-editor>
        </div>

        <div class="mb-3 float-end">
          <button type="button" routerLink=".." class="btn btn-outline-secondary me-2" [disabled]="saving">Cancel</button>

          <div class="btn-group me-3">
            <button (click)="onSubmit(true)" type="submit" class="btn btn-success ps-4" [ngClass]="updateMode ? 'pe-3' : 'pe-4'"
                    [disabled]="saving || !snippetForm.form.valid">
              <span *ngIf="saving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <i *ngIf="!saving" class="fa-solid fa-save" aria-hidden="true"></i>
              &nbsp;{{saving ? "Saving.." : updateMode ? "Save" : "Create"}}
            </button>
            <div *ngIf="updateMode" class="btn-group" ngbDropdown role="group" aria-label="Save without new version dropdown">
              <button (click)="$event.preventDefault()" class="btn btn-success dropdown-toggle-split" ngbDropdownToggle
                      [disabled]="saving || !snippetForm.form.valid"></button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button type="submit" (click)="onSubmit(false)" ngbDropdownItem>Save without version</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</lks-loader>
