<div class="row py-1">
  <div class="col-md-12">
    <div class="d-flex align-content-center">
      <div class="flex-shrink-0">
        <img class="thumbnail-img cursor-pointer" src="/assets/img/note_thumbnail.jpg" alt="Thumbnail" [routerLink]="[filePath, file.id]">
      </div>
      <div class="flex-grow-1 ms-3">
        <div class="d-flex">
          <div class="flex-grow-1">
            <i class="fa-solid fa-file align-self-center me-1" ngbTooltip="File"></i>
            <a class="title me-2" [routerLink]="[filePath, file.id]"> {{file.title}}</a>
            <div class="d-flex mt-1" *ngIf="file.tags.length > 0 || file.collections.length > 0">
              <lks-group-view [groups]="file.tags" type="tags" [minimal]="true" class="me-3"></lks-group-view>
              <lks-group-view [groups]="file.collections" type="collections" [minimal]="true"></lks-group-view>
            </div>
          </div>
          <div>
            <span class="align-self-center ms-auto"><span>({{file.id}})</span> updated <lks-time-ago [date]="file.dateUpdated"></lks-time-ago></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
