<ng-template #editDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{editingCollection ? "Edit Collection" : "New Collection"}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="form-inline" #collectionForm="ngForm">
      <div class="mb-3">
        <p class="text-muted"><b>Hint:</b> Create nested collections at once using a path e.g. <b>parent/child/grandchild</b><br>
          When using this option do not select a parent collection at the same time.</p>
        <label for="inputCollectionName" class="sr-only">New Collection name</label>
        <input required type="text" class="form-control" id="inputCollectionName" name="inputCollectionName" placeholder="New Collection name.."
               [(ngModel)]="newCollectionName">
      </div>
      <div class="mb-3">
        <lks-group-editor id="collectionPicker" type="collection"
                          placeholder="Select a parent collection (optional)"
                          [selected]="newCollectionSelectedParent"
                          (selectedChange)="newCollectionSelectedParent = $event"
                          [maxSelected]="1"></lks-group-editor>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button>
    <button type="submit" class="btn btn-success" [disabled]="newCollectionSaving || !collectionForm.form.valid" (click)="onCollectionSave()">
      <span *ngIf="newCollectionSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <i *ngIf="!newCollectionSaving" class="fa-solid fa-save" aria-hidden="true"></i>
      {{editingCollection ? "Save" : "Create"}}
    </button>
  </div>
</ng-template>

<div>
  <div class="card mb-3">
    <div class="card-body">
      <button type="button" class="btn btn-success mb-2 me-2" (click)="onCreateCollection(editDialog)">
        <i class="fa-solid fa-plus-circle" aria-hidden="true"></i> Create Collection
      </button>
      <button type="button" class="btn btn-primary mb-2 me-2" *ngIf="editingCollection != null" (click)="openEditDialog(editDialog)">
        <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i> Edit
      </button>
      <button type="button" class="btn btn-danger mb-2" *ngIf="editingCollection != null" (click)="onCollectionDelete()">
        <i class="fa-solid fa-trash-alt" aria-hidden="true"></i> Delete
      </button>
      <tree-root #tree [nodes]="collectionTree" (updateData)="tree.treeModel.expandAll()"
                 (activate)="setEditingCollection($event.node.data)"></tree-root>
    </div>
  </div>
</div>

