<ng-template #scheduleHelp>
  <ul>
    <li>"every 12 hours"</li>
    <li>"every 5 minutes from 10:00 to 14:00"</li>
    <li>"every 12 hours"</li>
    <li>"every 5 minutes from 10:00 to 14:00"</li>
    <li>"every day 00:00"</li>
    <li>"every monday 09:00"</li>
    <li>"2nd,third mon,wed,thu of march 17:00"</li>
    <li>"1st monday of sep,oct,nov 17:00"</li>
    <li>"1 of jan,april,july,oct 00:00"</li>
  </ul>
</ng-template>

<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-reminder-edit">{{existingReminder ? "Update" : "Create"}} Reminder</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form #reminderForm="ngForm">
      <div class="mb-3">
        <label class="form-label" for="reminderType">Type</label>
        <select class="form-select" id="reminderType" name="reminderSize" required
                [(ngModel)]="editingReminder.type">
          <option value="adhoc">Adhoc</option>
          <option value="recurring">Recurring</option>
        </select>
      </div>

      <div class="mb-3" *ngIf="editingReminder.type == 'adhoc'">
        <label class="form-label" for="reminderDateTime">Date / Time</label>
        <input type="datetime-local" class="form-control" id="reminderDateTime" name="reminderDateTime"
               [(ngModel)]="editingReminder.adhocSpec" required/>
      </div>

      <div class="mb-3" *ngIf="editingReminder.type == 'recurring'">
        <label class="form-label" for="reminderSpec">Schedule
          <span class="text-muted">(required)</span>&nbsp;
          <span class="fa-solid fa-info-circle" aria-hidden="true" [ngbTooltip]="scheduleHelp" tooltipClass="schedule-help-tooltip"></span>
        </label>
        <input type="text" class="form-control form-text" id="reminderSpec" name="reminderSpec" placeholder="(e.g. 'every day 09:00')"
               [(ngModel)]="editingReminder.recurringSpec" (ngModelChange)="recurringScheduleFieldChanged.next($event)" required/>
        <div *ngIf="isValidatingSchedule" class="spinner-border spinner-border-sm mt-2 ms-2" role="status" aria-hidden="true"></div>
        <div class="fw-bold mt-2 text-danger" *ngIf="recurringScheduleInvalidMessage">{{recurringScheduleInvalidMessage}}</div>
        <div *ngIf="fireTimes.length > 0">
          <div class="fw-bold mt-2">Next fire times:</div>
          <ul>
            <li *ngFor="let fireTime of fireTimes">{{fireTime}}</li>
          </ul>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="notifyMethods">Notify By</label>
        <ng-select
          id="notifyMethods"
          name="notifyMethods"
          [(ngModel)]="editingReminder.notifyMethods"
          [multiple]="true"
          [closeOnSelect]="false"
          [searchable]="true"
          placeholder="Select notification types"
          required
        >
          <ng-option value="email">Email</ng-option>
          <ng-option value="web">Web</ng-option>
          <ng-option value="pushover">Pushover</ng-option>
        </ng-select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="reminderDateTime">Message <span class="text-muted">(required)</span></label>
        <input class="form-control form-text" type="text" name="reminderMessage" id="reminderMessage" placeholder="Enter notification message"
               [(ngModel)]="editingReminder.message" required/>
      </div>

      <div class="mb-3 form-check form-switch">
        <label class="form-check-label" for="reminderEnabled">Enabled</label>
        <input class="form-check-input" type="checkbox" id="reminderEnabled" name="reminderEnabled" [(ngModel)]="editingReminder.enabled">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" [disabled]="saving || !reminderForm.form.valid" (click)="onSaveReminder()">
      <span *ngIf="saving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <i *ngIf="!saving" class="fa-solid fa-save" aria-hidden="true"></i>
      &nbsp;{{saving ? "Saving.." : existingReminder ? "Save" : "Create"}}
    </button>
  </div>
</div>
