<div *ngIf="loaded">
    <div class="comments">
        <div class="comments-details mb-2">
            <span class="total-comments comments-sort">{{comments.length}} Comments</span>
            <div ngbDropdown class="d-inline-block">
                <button ngbDropdownToggle id="sortByToggle" type="button" class="btn dropdown-toggle" data-toggle="dropdown">Sort By <span class="caret"></span></button>
                <div ngbDropdownMenu aria-labelledby="sortByToggle">
                    <button ngbDropdownItem>Newest First</button>
                    <button ngbDropdownItem>Oldest First</button>
                </div>
            </div>
        </div>

        <div *ngFor="let comment of comments; let index = index" class="comment-box">
            <span class="comment-num">#{{index + 1}} </span>
            <span class="commenter-pic fas fa-user-circle"></span>
            <span class="comment-time"><app-time-ago [date]="comment.dateCreated"></app-time-ago></span>
            <p class="comment-txt"><app-markdown-view [markdown]="comment.markdownText"></app-markdown-view></p>
            <div class="comment-meta">
                <button (click)="editCommentClick(comment)" class="btn btn-sm"><i class="fa fa-edit text-info" aria-hidden="true"></i> Edit</button>
                <button (click)="openDeleteModal(comment)" class="btn btn-sm"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i> Delete</button>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <button type="button" (click)="addCommentClick()" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Comment</button>
    </div>

    <div *ngIf="showEditor">
        <app-comment-edit [entryId]="entryId" [existingComment]="selectedComment" (commentSaved)="onCommentSaved($event)"></app-comment-edit>
    </div>
</div>