<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirm Choice</h4>
  <button type="button" class="btn-close" aria-label="Close" aria-describedby="modal-title" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" [innerHTML]="prompt">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close('confirm')">Confirm</button>
</div>
