<p class="text-muted">The text below will can used to identify this link when using the search function. Include keywords and content specific
  to this entry for more relevant results.</p>

<p *ngIf="!editMode" class="overflow-auto" style="max-height: 22rem">{{content ? content : "No content"}}</p>

<div class="mb-3">
  <textarea *ngIf="editMode" [(ngModel)]="contentInput" class="form-control" rows="14"></textarea>
</div>

<span *ngIf="!editMode" class="btn-group-sm float-end">
  <button (click)="onEditClick($event)" class="btn btn-primary me-1">
    <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i> Edit</button>
</span>

<span *ngIf="editMode" class="btn-group-sm float-end">
  <button (click)="onSaveClick($event)" class="btn btn-success me-1">
    <i class="fa-solid fa-save" aria-hidden="true"></i> Save</button>
  <button (click)="onEditCancelClick($event)" class="btn btn-secondary">Cancel</button>
</span>
