<lks-layout-error>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">500</h1>
                    <p class="lead">Internal Server Error</p>
                    <a routerLink="/">
                      <i class="mr-1 fas fa-arrow-left"></i>
                      Return Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</lks-layout-error>
