<lks-loader [loadingStatus]="loadingStatus" entity="link">
  <div class="row" *ngIf="loadingStatus != 'loading'">
    <div class="col-md-12 card card-body">
      <h2 class="mb-3">{{updateMode ? "Update Link" : "New Link"}}</h2>

      <form (ngSubmit)="onSubmit()" #linkForm="ngForm">
        <div class="mb-3">
          <label for="linkTitle">Title</label>
          <input [(ngModel)]="link.title" id="linkTitle" name="title" type="text" class="form-control title-input"
                 placeholder="Enter title" #title="ngModel">
          <small class="form-text text-muted">
            (Title will be URL if not specified)
          </small>
        </div>

        <div class="mb-3">
          <label for="linkUrl">URL</label>
          <div class="input-group">
            <input [(ngModel)]="link.url" (ngModelChange)="urlFieldChanged.next($event)" id="linkUrl" name="url" type="text"
                   class="form-control form-control-lg title-input"
                   placeholder="Enter url (required)" required #url="ngModel">
            <button type="button" class="btn btn-primary" (click)="onSuggest()" [disabled]="!url.valid || suggesting">
              <span *ngIf="suggesting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <i *ngIf="!suggesting" class="fa-solid fa-search" aria-hidden="true"></i> Suggest
            </button>
          </div>
          <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
            URL is required
          </div>
        </div>

        <div class="mb-3 alert alert-warning py-1" role="alert" *ngIf="existingLinks.length > 0">
          <strong>Existing Links Found:</strong>
          <ul>
            <li *ngFor="let existing of existingLinks">
              <a routerLink="../{{existing.id}}">{{existing.title}}</a>&nbsp;
              <span class="text-muted"><lks-time-ago [date]="existing.dateUpdated"></lks-time-ago></span>
            </li>
          </ul>
        </div>

        <div class="mb-3 form-check">
          <input [(ngModel)]="link.process" id="linkProcess" name="process" type="checkbox" class="form-check-input">
          <label class="form-check-label" for="linkProcess">Process Link (generate screenshot and summary)</label>
        </div>

        <div *ngIf="suggestionThumbnail" class="text-center mb-3">
          <img [src]="suggestionThumbnail" alt="Link thumbnail" class="img-thumbnail">
        </div>

        <div *ngIf="suggestionKeywords.length > 0" class="mb-3">
          <span class="fw-bold">Suggested Keywords: </span>
          <span *ngFor="let word of suggestionKeywords; let isLast=last">
            {{word}}{{isLast ? '' : ' ●'}}
          </span>
        </div>

        <div class="mb-3">
          <label for="tagPicker">Tags</label>
          <lks-group-editor id="tagPicker" type="tag" [selected]="selectedTags" (selectedChange)="selectedTags = $event"></lks-group-editor>
        </div>

        <div class="mb-3">
          <label for="collectionPicker">Collections</label>
          <lks-group-editor id="collectionPicker" type="collection" [selected]="selectedCollections"
                            (selectedChange)="selectedCollections = $event"></lks-group-editor>
        </div>

        <div class="mb-3 float-end">
          <button type="button" routerLink=".." class="btn btn-outline-secondary me-2" [disabled]="saving">Cancel</button>
          <button type="submit" class="btn btn-success px-4" [disabled]="saving || !linkForm.form.valid">
            <span *ngIf="saving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <i *ngIf="!saving" class="fa-solid fa-save" aria-hidden="true"></i>
            &nbsp;{{saving ? "Saving.." : updateMode ? "Save" : "Create"}}
          </button>
        </div>
      </form>
    </div>
  </div>
</lks-loader>
