hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.entry-metadata p {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .group-card {
    border-right: 2px solid #dee2e6;
  }
}
