<ng-template #confirmationContent>
  <p>
    <strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong>
  </p>
  <p>
    All information associated to this user profile will be permanently deleted.
    <span class="text-danger">This operation can not be undone.</span>
  </p>
</ng-template>

<lks-loader [loadingStatus]="loadingStatus" entity="user 2fa">

  <div class="card">
    <h5 class="card-header"><i class="fa-solid fa-lock fa-xs"></i> Two-Factor Authentication</h5>
    <div class="card-body">
      <p><b>Recommended -</b> Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to
        sign in.</p>

      <div>
        <form class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="onEnabledSubmit()" [formGroup]="enableForm">
          <div class="col-12 ms-2 form-check form-switch">
            <input type="checkbox" class="form-check-input" role="switch" id="enabledInput" name="enabledInput" aria-describedby="enabledHelp"
                   formControlName="enabled">
            <label class="form-check-label" for="enabledInput">Enabled</label>
            <div id="enabledHelp" class="form-text"><b>WARNING:</b> if you lose the ability to generate one-time passcodes you will not be able to
              login to
              your account
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="saving || !enableForm.valid">
              <span *ngIf="saving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <i *ngIf="!saving" class="fa-solid fa-save" aria-hidden="true"></i> Update
            </button>
          </div>
        </form>
      </div>

      <div class="pt-3" *ngIf="enabled">
        <p>Enter the code shown in your authenticator application of choice to generate one-time passcodes. You will be prompted for one everytime you
          login.</p>
        <button class="btn btn-secondary" [disabled]="saving" (click)="showSecret()">
          <i *ngIf="!saving" class="fa-solid fa-eye" aria-hidden="true"></i> Show 2FA Secret
        </button>
        <span class="ms-2" *ngIf="secret">Your 2FA secret is: <b>{{secret}}</b></span>
      </div>

      <div class="pt-3" *ngIf="enabled">
        <p>Enter one of your generated codes below and validate to make sure you have successfully completed the two-factor authentication setup:</p>
        <form class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="onValidateSubmit()" [formGroup]="validateForm">
          <div class="col-12">
            <label class="visually-hidden" for="codeInput">Code</label>
            <input type="text" class="form-control" id="codeInput" placeholder="Code" formControlName="code">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="saving || !validateForm.valid">
              <span *ngIf="saving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <i *ngIf="!saving" class="fa-solid fa-save" aria-hidden="true"></i> Validate
            </button>
          </div>
        </form>
        <div class="pt-3">
          <div class="alert alert-success" role="alert" *ngIf="validCode === true">
            Your code was valid!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="validCode === false">
            Your code was <b>NOT</b> valid. Please retry the setup process
          </div>
        </div>
      </div>

    </div>
  </div>

</lks-loader>
