<ng-template #notLoaded>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngIf="!loading; else notLoaded">
  <app-entry-detail-header [entry]="link" [previousVersion]="!!version"></app-entry-detail-header>

  <div *ngIf="isLinkDead() && !version" class="alert alert-warning" role="alert"><b>This link is marked as dead</b>. Run the process task to refresh
    the status.
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card card-body">
        <p><a href="{{link.url}}" target="_blank">{{link.url}}</a></p>

        <div *ngIf="link.props?.attributes?.embedUrl">
          <div class="embed-iframe embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="link.props.attributes.embedUrl | safeUrl"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="link.content" class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header cursor-pointer" style="font-weight: 500" (click)="isContentCollapsed = !isContentCollapsed">
          <a data-toggle="collapse" aria-expanded="true" aria-controls="linkReaderContent">
            <i *ngIf="isContentCollapsed" class="fa fa-chevron-down"></i>
            <i *ngIf="!isContentCollapsed" class="fa fa-chevron-up"></i> Reader View:
          </a>
        </div>
        <div id="linkReaderContent" class="card-body" [ngbCollapse]="isContentCollapsed">
          <app-markdown-view [markdown]="link.content"></app-markdown-view>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header" style="font-weight: 500">Details</div>
        <div class="card-body entry-metadata">
          <div class="row">
            <div class="col-sm-12 col-md-6 mb-4 mb-md-0 group-card">
              <div>
                <app-group-view [groups]="link.tags" type="tags"></app-group-view>
                <hr>
                <app-group-view [groups]="link.collections" type="collections"></app-group-view>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div>
                <p><b>Created: </b>
                  <app-time-ago [date]="link.dateCreated"></app-time-ago>
                </p>
                <hr>
                <p><b>Last Updated: </b>
                  <app-time-ago [date]="link.dateUpdated"></app-time-ago>
                </p>
                <hr>
                <p><b>Version: </b>{{link.version}}</p>
                <hr>
                <p><b>Source: </b>{{link.source}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-entry-tabs *ngIf="!loading" [entry]="link"></app-entry-tabs>
