.embed-iframe {
  max-width: 640px;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.link-url {
  margin: 0;
  font-size: 1.1em;
  color: #007bff;
  cursor: pointer;
}

.link-url a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.link-url i {
  font-size: 0.8em;
}
