<ng-template #notLoaded>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngIf="!loading; else notLoaded">
  <app-entry-detail-header [entry]="link" [previousVersion]="!!version"></app-entry-detail-header>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card card-body">
        <p><a href="{{link.url}}" target="_blank">{{link.url}}</a></p>

        <div *ngIf="link.props?.attributes?.embedUrl">
          <div class="embed-iframe embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="link.props.attributes.embedUrl | safeUrl"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="link.content" class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header cursor-pointer" style="font-weight: 500" (click)="isContentCollapsed = !isContentCollapsed">
          <a data-toggle="collapse" aria-expanded="true" aria-controls="linkReaderContent">
            <i *ngIf="isContentCollapsed" class="fa fa-chevron-down"></i>
            <i *ngIf="!isContentCollapsed" class="fa fa-chevron-up"></i> Reader View:
          </a>
        </div>
        <div id="linkReaderContent" class="card-body" [ngbCollapse]="isContentCollapsed">
          <app-markdown-view [markdown]="link.content"></app-markdown-view>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header" style="font-weight: 500">Metadata:</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5>Tags:</h5>
                  <span *ngFor="let tag of link.tags" class="badge badge-dark p-2 mr-1">{{tag.name}}</span>

                  <h5>Collections:</h5>
                  <span *ngFor="let collection of link.collections" class="badge badge-dark p-2 mr-1">{{collection.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <p>
                    <app-time-ago prefix="Last updated: " [date]="link.dateUpdated"></app-time-ago>
                  </p>
                  <p>Version: {{link.version}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-entry-tabs *ngIf="!loading" [entry]="link"></app-entry-tabs>
