<ng-template #notLoaded>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngIf="!loading; else notLoaded">
  <app-entry-detail-header [entry]="link" [previousVersion]="!!version"></app-entry-detail-header>

  <div *ngIf="isLinkDead() && !version" class="alert alert-warning" role="alert"><b>This link is marked as dead</b>. Run the process task to refresh
    the status.
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card card-body">
        <p class="link-url">
          <a (click)="launchLink()" target="_blank">{{link.url}} <i class="fas fa-external-link-alt"></i></a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-link-content-view [link]="link"></app-link-content-view>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <app-entry-detail-metadata [entry]="link"></app-entry-detail-metadata>
    </div>
  </div>
</div>

<app-entry-tabs *ngIf="!loading" [entry]="link"></app-entry-tabs>
