<ng-template #noTasks>
  <div>
    <p class="total-tasks">No tasks found</p>
  </div>
</ng-template>

<div *ngIf="entry?.props?.tasks?.length > 0; else noTasks">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel *ngFor="let task of entry.props.tasks">
      <ng-template ngbPanelTitle>
        <span><i class="fa-solid fa-chevron-down fa-sm"></i><b>  {{task.description}}</b></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <lks-entry-tab-task-exec [entryId]="entry.id" [taskDefinition]="task"></lks-entry-tab-task-exec>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
