<ng-template #noTasks>
  <div>
    <p class="total-tasks">No tasks found</p>
  </div>
</ng-template>

<div *ngIf="entry?.props?.tasks?.length > 0; else noTasks">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col" style="width: 25%">Name</th>
      <th scope="col" style="width: 15%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of entry.props.tasks">
      <th>{{task.description}}</th>
      <td>
        <button (click)="executeTask(task)" class="btn btn-sm btn-info"><i class="fa fa-play-circle" aria-hidden="true"></i> Execute</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
