<div class="row">
  <div class="col-md-12">
    <div class="pb-2">
      <h2>Group Editor</h2>
    </div>
    <hr>

    <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false" activeId="collections">
      <ng-container ngbNavItem="tags">
        <a ngbNavLink><i class="fa-solid fa-tags"></i> Tags</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-md-12">
              <lks-tag-edit></lks-tag-edit>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="collections">
        <a ngbNavLink><i class="fa-solid fa-layer-group"></i> Collections</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-md-12">
              <lks-collection-edit></lks-collection-edit>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-3 mb-4"></div>

  </div>
</div>
